{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <header>
        <img src="{% static 'extra-images/main-logo.png' %}">
    </header>
    <nav>
        <ul>
            <li><a href="#">Home</li>
            <li><a href="#">Location</li>
            <li><a href="#">Blog</li>
        </ul>
    </nav>
    <main>
        <h1>Blog</h1>
        <div>
            <h2>20% off this weekend</h2>
            <p>Come down to Little Lemon and your meal will be 20% off!</p>
        </div>
        <article>
            <h2>Our new menu</h2>
            <p>We've updated our menu with new dinners.</p>
        </article>
    </main>
    <footer>
        <p>Copyright Little Lemon</p>
    </footer>
</body>
</html>